/* src/custom.css */
.neon {
  position: relative;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2),
    0 0 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.2),
    0 0 40px rgba(255, 255, 255, 0.2), 0 0 80px rgba(255, 255, 255, 0.2);
}

.neon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.6), 0 0 10px rgba(0, 255, 0, 0.6),
    0 0 20px rgba(0, 255, 0, 0.6), 0 0 40px rgba(0, 255, 0, 0.6),
    0 0 80px rgba(0, 255, 0, 0.6);
  z-index: -1;
}

.bg-blue-500.neon::before {
  box-shadow: 0 0 5px rgba(0, 183, 255, 0.6), 0 0 10px rgba(0, 183, 255, 0.6),
    0 0 20px rgba(0, 183, 255, 0.6), 0 0 40px rgba(0, 183, 255, 0.6),
    0 0 80px rgba(0, 183, 255, 0.6);
}
